/**
****************************
          COLORS
****************************
**/

$color-primary: #e4cddd;
$color-secondary: #aeaed6;
$color-terciary: #00B38B;

$color-dark-low: #566574;
$color-dark-medium: #4A575D;
$color-dark-high: #020303;

$color-white-medium: rgba(255, 255, 255, 0.7);
$color-white-high: #ffffff;

$color-gray-medium: #ecf3ff;
$color-gray-high: #E6ECF8;

$color-background-1: #2F3C7E;
$color-background-2: hsla(0,0%,100%,.95);