body,
html {
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;;
  font-size: 16px;
  font-weight: inherit;
  scroll-behavior: smooth;
  // background: $color-dark-high;
  margin: 0;
  padding: 0;
}

html::-webkit-scrollbar {
  width: 6px;
}
html::-webkit-scrollbar-track {
  border-radius: 10px;
}
html::-webkit-scrollbar-thumb {
  background: $color-dark-low;
  border-radius: 10px;
}

a {
    text-decoration: none;
}
  
div, section {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}
